
        html, body {
            height: 100%;
            margin: 0px;
        }
        .container {
            height: 83%;
			width: 100%;
		}
		.dropbtn {
			background-color: black;
			color: white;
			padding: 16px;
			font-size: 16px;
			border: none;
			cursor: pointer;
			width: 200px;
}


.dropdown {
  position: relative;
  display: inline-block;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: darkgray}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .btn {
  background-color: darkblue;
}


.heading{
  float:left;
}
.rect{
  float:left;
  height: 100px; /* or whatever you want */
  position:relative;
  width: 100%; /* or whatever you want */
  background-color: #FF6600;
  text-align: center;
}

.axis,
.frame {
  shape-rendering: crispEdges;
}

.axis line {
  stroke: #ddd;
}

.axis path {
  display: none;
}

.cell text {
  font-weight: bold;
  text-transform: capitalize;
  fill: black;
}

.frame {
  fill: none;
  stroke: #aaa;
}

circle {
  fill-opacity: .7;
}

circle.hidden {
  fill: #ccc !important;
}

.extent {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}

.svg_container{
    position:absolute;
    top:200px;
    left:380px;
}

